<?xml version="1.0" encoding="UTF-8"?>
<web-app
    id="Axel1stLesson"
    version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Tutorial AXEL 1st Lesson</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
     <!--  use this when we want scope="session" for execContext -->
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
      
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <!-- The main spring configuration -->
        <param-value>classpath:/config/spring/spring-pager-web-startup.xml</param-value>
    </context-param>


    <servlet>
        <description>AXEL Servlet</description>
        <servlet-name>pager</servlet-name>
        <servlet-class>org.xmlactions.web.PagerServlet</servlet-class>
        <init-param>
            <param-name>pager.namespace</param-name>
            <param-value>axel</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>pager</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

</web-app>
